#include "/home/laserwolf/.colors/console-cowboy"
*font: xft:ProggyCleanTT:size=12:antialias=true
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
URxvt.keysym.Control-Tab: \033[27;5;9~
URxvt*iso14755: False 
URxvt*iso14755_52: False
URxvt.scrollBar:           false
URxvt.internalBorder: 25
! URxvt*borderless: 1
URxvt*cursorBlink: true
URxvt*saveLines: 5000
URxvt.perl-ext-common:     default,matcher,confirm-paste,selection-to-clipboard
URxvt.url-launcher:        /usr/bin/firefox
URxvt.matcher.button:      1
rofi.color-enabled: true
rofi.eh: 2
rofi.bw: 0
rofi.opacity: 85
rofi.padding: 485
rofi.width: 100
rofi.font: ProggyCleanTT 14
rofi.lines: 3
